name: Open Good PRs

on:
  workflow_dispatch:
    inputs:
      count:
        description: "The number of PRs to create"
        default: 3
        required: true
        type: number

jobs:
  file_name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        id: file_name
        with:
          result-encoding: string
          retries: 3
          script: return JSON.stringify([...Array(${{ github.event.inputs.count }})].map(() => 'File' + (Math.floor(Math.random() * 1000000 + 1) + '.txt')))
    outputs:
      file_name: ${{ steps.file_name.outputs.result }}

  demo:
    name: PR
    runs-on: ubuntu-latest
    needs: file_name
    strategy:
      matrix:
        file_name: ${{ fromJSON(needs.file_name.outputs.file_name) }}
    steps:
    - uses: actions/checkout@v3
    - id: create-pr
      uses: octodemo/mq-demo/.github/actions/create-pr@main
      with:
        file_name: ${{ matrix.file_name }}
        file_content: "Hello World!"
        token: ${{ secrets.AUSTEN_PAT }}